
html {
    /* Setting a base font size of 10px give us easier rem calculations
         Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
       */
    font-size: 10px;
  }

  body {
    /* Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Helvetica Neue', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
  }

  img {
  max-width: 550px;
  display: block;
  height: auto;
  margin: 0 auto;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
}

a {
  color: #f1b361;
  text-decoration: none;
}
a:visited {
  color: #e19838;
}
a:hover {
  color: #f67426;
}

#img-caption {
  margin: 5px 0 5px 0;
  font-size: 12px;
  }

#top-quote {
  max-width: 550px;
  margin: 0 auto 35px auto;
  line-height: 1.6;
}